/* Stile per il contenitore del login */
.login-container {
  background-color: #ffffff; /* Sfondo bianco */
  border-radius: 10px; /* Bordi arrotondati */
  width: 400px; /* Larghezza del rettangolo */
  max-width: 90%; /* Larghezza massima per dispositivi piccoli */
  padding: 20px; /* Spaziatura interna */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra per l'effetto in rilievo */
}

/* Stile per il titolo */
h2 {
  color: #333; /* Colore del testo */
  font-weight: bold; /* Testo in grassetto */
}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.custom-icon {
  width: 48px;
  height: 48px;
  cursor: pointer;
  object-fit: contain;
  transition: transform 0.2s ease;
  margin-right: 76px;
}

.custom-icon:hover {
  transform: scale(1.40);
}

/* Stile per l'icona freccia */
.bi-arrow-left-circle {
  color: #000000; /* Colore dell'icona */
  transition: color 0.2s ease; /* Transizione al passaggio del mouse */
}

  .bi-arrow-left-circle:hover {
    color: #000000; /* Cambia colore al passaggio del mouse */
  }

  .nav-link.dropdown-toggle::after {
    display: none !important;
  }